
/* Your CSS Code here. */
div{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	width:25rem;
}
.moviePic{
	padding:10px;
	height:20rem;
	width:16rem;
	opacity:0.8;
}

movieDetail{
	position:relative;
	top:10px;
	width:100%;
	text-align:center;
	font-size:1.5rem;
}
